@using iText.Kernel.Pdf
@using iText.Layout
@using iText.Layout.Element
@using System.IO
@using System.Threading
@using iText.Kernel.Font
@using Newtonsoft.Json
@using Sava.Models
@using Sava.Service

@inject AudioFilesDbService _audioFilesDbService;
@inject PhonesDbService _phonesDbService;
@inject PersonsDbService _personsDbService;

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="p-2">
                    <label for="AbonentInput" class="form-label">Абонент</label>
                    <input id="AbonentInput" class="form-control" type="text" @bind="@TempAudioFile.Abonent"/>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <label for="NumberInput" class="form-label">Номер</label>
                    <input id="NumberInput" class="form-control" type="text" @bind="@TempAudioFile.Nomer"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="p-2">
                    <label for="AbonentNameInput" class="form-label">Имя</label>
                    <RadzenAutoComplete id="AbonentNameInput" 
                                        Data="@TempPersonCollection" 
                                        TextProperty="CompanyName"
                                        LoadData="@LoadPersonData" 
                                        ValueChanged="AbonentCollectionChange" 
                                        Style="width: 100%;"
                                        Value="@TempAudioFile.AbonentName"/>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <label for="NumberNameInput" class="form-label">Имя</label>
                    <RadzenAutoComplete id="NumberNameInput" 
                                        Data="@TempPersonCollection" 
                                        TextProperty="CompanyName"
                                        LoadData="@LoadPersonData" 
                                        ValueChanged="@NomerCollectionChange" 
                                        Style="width: 100%;"
                                        Value="@TempAudioFile.NomerName"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <div class="p-2">
                    <button class="btn btn-info" @onclick="OpenSaveDialog">Сохранить в базе</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="p-2">
                    @* <a href="@PdfResultFile" @onclick="GetPdfReport" target="blank" class="btn btn-primary"> Распечатать отчет</a> *@
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <label for="recognitionResult" class="form-label">Результат распознания</label>
        <textarea class="form-control" id="recognitionResult" rows="6" @bind="TempAudioFile.Result"></textarea>
    </div>
</div>

@if (SaveDialogOpen)
{
    <ModalDialog Title="Сохранение" Text="@("Вы действительно хотите сохранить результат обработки файла " + TempAudioFile.Name + "?")"
                 OnClose="@OnSaveDialogClose" DialogType="ModalDialog.ModalDialogType.SaveCancel">
    </ModalDialog>
}

@code{
    
    [Parameter]
    public TempAudioFile TempAudioFile { get; set; }
    
    [Parameter]
    public EventCallback<TempAudioFile> OnSaveCallback { get; set; }
    
    [Parameter]
    public EventCallback OnUpdateCollectionCallback { get; set; }
    
    private bool SaveDialogOpen { get; set; }
    
    private async Task OnSaveDialogClose(bool accepted)
    {
        if (accepted)
        {
            await SaveAsync();
            TempAudioFile = null;
        }
        SaveDialogOpen = false;
        StateHasChanged();
    }

    private void OpenSaveDialog()
    {
        SaveDialogOpen = true;
        StateHasChanged();
    }

    private async Task SaveAsync()
    {
        var audioFile = new AudioFile
        {
            Name = TempAudioFile.Name,
            DateTime = TempAudioFile.DateTime,
            Duration = TempAudioFile.Duration,
            Abonent = TempAudioFile.Abonent,
            IdAbonent = TempAudioFile.IdAbonent,
            AbonentName = TempAudioFile.AbonentName,
            IdAbonentName = TempAudioFile.IdAbonentName,
            Nomer = TempAudioFile.Nomer,
            IdNomer = TempAudioFile.IdNomer,
            NomerName = TempAudioFile.NomerName,
            IdNomerName = TempAudioFile.IdNomerName,
            SourceFile = await File.ReadAllBytesAsync(Path.Combine("wwwroot", TempAudioFile.SourceFile)),
            Result = TempAudioFile.Result
        };

        await _audioFilesDbService.AddAudioFileAsync(audioFile);

        await File.WriteAllTextAsync(Path.Combine("wwwroot", "reports", Path.GetFileNameWithoutExtension(audioFile.Name)! + ".json"),
            JsonConvert.SerializeObject(audioFile));
        
        await OnSaveCallback.InvokeAsync(TempAudioFile);
    }
    
    private string PdfResultFile 
        => Path.Combine("reports", Path.GetFileNameWithoutExtension(TempAudioFile.Name) + ".pdf");
    
    private void GetPdfReport()
    {
        if (File.Exists("wwwroot/" + PdfResultFile))
            File.Delete("wwwroot/" + PdfResultFile);

        var writer = new PdfWriter("wwwroot/" + PdfResultFile);
        var pdf = new PdfDocument(writer);
        var document = new Document(pdf);
        var ttf = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Fonts), "Arial.ttf");
        var baseFont = PdfFontFactory.CreateFont(ttf, "Cp1251");

        var dateTime = new Paragraph("Дата " + TempAudioFile.DateTime).SetFont(baseFont);
        var duration = new Paragraph("Длительность " + TempAudioFile.Duration).SetFont(baseFont);
        var abonent = new Paragraph("Абонент " + TempAudioFile.Abonent + " " + TempAudioFile.AbonentName).SetFont(baseFont);
        var nomer = new Paragraph("Номер " + TempAudioFile.Nomer + " " + TempAudioFile.NomerName).SetFont(baseFont);
        var testResult = new Paragraph(TempAudioFile.Result).SetFont(baseFont);

        document.Add(dateTime);
        document.Add(duration);
        document.Add(abonent);
        document.Add(nomer);
        document.Add(new Paragraph(""));
        document.Add(testResult);
        document.Close();
    }
    
    IEnumerable<Person> TempPersonCollection { get; set; }

    object locker = new ();
    
    private void LoadPersonData(LoadDataArgs args)
    {
        lock (locker)
        {
            TempPersonCollection = _personsDbService.Find(args.Filter);    
        }
    }

    private async Task AbonentCollectionChange(object obj)
    {
        var temp = TempPersonCollection.FirstOrDefault(value => value.Full == (string)obj);
        
        if (temp == null) return;
        
        TempAudioFile.AbonentName = temp.Full;
        TempAudioFile.IdAbonentName = temp.idObj.ToString();
        
        await OnUpdateCollectionCallback.InvokeAsync();
        
        StateHasChanged();
    }
    
    private async Task NomerCollectionChange(object obj)
    {
        var temp = TempPersonCollection.FirstOrDefault(value => value.Full == (string)obj);
        
        if (temp == null) return;
        
        TempAudioFile.NomerName = temp.Full;
        TempAudioFile.IdNomerName = temp.idObj.ToString();
        
        await OnUpdateCollectionCallback.InvokeAsync();
        
        StateHasChanged();
    }


}