@using iText.Kernel.Pdf
@using iText.Layout
@using iText.Layout.Element
@using System.IO
@using iText.Kernel.Font

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="p-2">
                    <label for="AbonentInput" class="form-label">Имя файла</label>
                    <input id="AbonentInput" class="form-control" type="text" value="@AudioFile.Name"/>
                </div>
            </div>
            @* <div class="col"> *@
            @*     <div class="p-2"> *@
            @*         <label for="NumberInput" class="form-label">Номер</label> *@
            @*         <input id="NumberInput" class="form-control" type="text" value="@AudioFile"/> *@
            @*     </div> *@
            @* </div> *@
        </div>

        @* <div class="row"> *@
        @*     <div class="col"> *@
        @*         <div class="p-2"> *@
        @*             <label for="AbonentNameInput" class="form-label">Имя</label> *@
        @*             <input id="AbonentNameInput" class="form-control" type="text" value="@AudioFile.Abonent"/> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="col"> *@
        @*         <div class="p-2"> *@
        @*             <label for="NumberNameInput" class="form-label">Имя</label> *@
        @*             <input id="NumberNameInput" class="form-control" type="text" value="@AudioFile.Nomer"/> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        <div class="row">
            <div class="col-auto">
                <div class="p-2">
                    <button class="btn btn-info">Сохранить в базе</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="p-2">
                    <a href="@Pdf" target="blank" class="btn btn-primary">Распечатать отчет</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <label for="recognitionResult" class="form-label">Результат распознания</label>
        <textarea class="form-control" id="recognitionResult" rows="6" @bind="AudioFile.Result"></textarea>
    </div>
</div>

@code{
    [Parameter]
    public TempAudioFile AudioFile { get; set; }

    private string Pdf
    {
        get
        {
            var result = Path.Combine("reports", AudioFile.Name + ".pdf");
            
            if(File.Exists("wwwroot/" + result))
                File.Delete("wwwroot/" + result);
            
            var writer = new PdfWriter("wwwroot/" + result);
            var pdf = new PdfDocument(writer);
            var document = new Document(pdf);
            var ttf = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Fonts), "Arial.ttf");
            var baseFont = PdfFontFactory.CreateFont(ttf, "Cp1251");
            var paragraph1 = new Paragraph(AudioFile.Result).SetFont(baseFont);
            document.Add(paragraph1);
            document.Close();
            
            return result;
        }
    }
}